<% for (let line of translations) { %>
    <span class="annotation">
        Line <%=line.lineNumber%> from <%= line.startTime ? line.startTime.toISOString() : '' %>
    </span>
    <% if (type === 'html') { %>
        <div class="line-contents"><%- line[type]%></div>
    <% } else { %>
        <pre class="line-contents"><%- line[type]%></pre>
    <% } %>
    <% if (line.children && line.children.length) { %>
        <div class="children">
            <% for (let loop of line.children) { %>
                <% if (line.children.length > 1) { %>
                    <div>Loop <%=line.children.indexOf(loop)+1%>/<%=line.children.length%></div>
                <% } %>
                <%- include("translations", {translations: loop, type: type}) %>
            <% } %>
        </div>
    <% } %>
<% } %>
